body {
    background-color: beige;
}

.hovedal {
  text-align: left;
}

.hoved {
  display: flex;
  flex-direction: row;
  font-size: larger;
}

.befor {
  display: flex;
  flex-direction: row;
}

.upgrades12 {
  display: flex;
  flex-direction: row;
}

#cookie {
  width: 905px;
  height: 905px;
  background-color: transparent
  
}

.abds {
  display: flex;
  flex-direction: column;
}

.abds p {
  font-size: 2.5em;
}

.linje {
    display: flex;
    flex-direction: row;
    
}

.upgrades {
  display: flex;
  flex-direction: column;
}

.upgrades1 {
  display: flex;
  flex-direction: column;
}

.upmain {
  display: flex;
  flex-basis: calc(20%);
  width: 110px;
  text-align: left;
  flex-direction: column;
  background-color: transparent;
}

h1 {
    font-family: 'Kavoon', sans-serif;
    font-size: 2.5em;
    color: white;
}

h2 {
  font-family: 'Kavoon', sans-serif;
  color: white;
}

.colup {
  display: flex;
  flex-direction: column;
}

p {
  color: white;
}

#klikk {
  background-color: transparent;
}

#ascend {
  width: 250px;
  height: 50px;
}

@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 350px 0px;
  }
}

body {  
  background: repeating-linear-gradient(
  90deg,
  #296d91,
  #296d91 5%,
  #255e7c 5%,
  #255e7c 10%
);
  background-size: 350px 350px;
  animation: move-it 10s linear infinite;
}