body {
    background-color: beige;
}

.hovedal {
  text-align: left;
}

.hoved {
  display: flex;
  flex-direction: row;
  font-size: larger;
}

.befor {
  display: flex;
  flex-direction: row;
}

.upgrades12 {
  display: flex;
  flex-direction: row;
}

.upgrades12 h3 {
  font-size: 0,5em;
  margin: 1px;
  color: white;
  text-shadow:  5px 5px 10px black;
}

#goldaubergine {
  height: 150px;
  width: 150px;
  z-index: 10;
  position: absolute;
  rotate: -36deg;
}

.upgrades12 p {
  color: white;
  text-shadow:  1px 1px 5px black;
}

.upgrades12 img {
  width: 50,5px;
  height: 200px;
}

#up1 {
  background-image: url("./IMG/GP__5713.JPG");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top: 1px solid black;
}

#up2 {
  background-image: url("./IMG/GP__5723.JPG");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#up3 {
  background-image: url("./IMG/GP__5735.JPG");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#up4 {
  background-image: url("./IMG/GP__5738.JPG");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#up5 {
  background-image: url("./IMG/IMG_4173.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#dps1 {
  background-image: url("./IMG/placeholder.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top: 1px solid black;
}

#dps2 {
  background-image: url("./IMG/placeholder.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#dps3 {
  background-image: url("./IMG/placeholder.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#dps4 {
  background-image: url("./IMG/placeholder.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#dps5 {
  background-image: url("./IMG/placeholder.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cookie {
  width: 1000px;
  height: 1000px;
  background-color: transparent;
  border: 1px solid black;
  border-right: 0px solid;
  z-index: 1;
}

.save1 p{
  font-size: x-large;
  margin: 5;
}

.saveload {
  width: 250px;
  height: 75px;
  font-size: 3em;
}

.abds {
  display: flex;
  flex-direction: column;
}

.abds p {
  font-size: 2.5em;
}

.linje {
    display: flex;
    flex-direction: row;
    
}

.upgrades {
  display: flex;
  flex-direction: column;
}

.upgrades1 {
  display: flex;
  flex-direction: column;
}

.upmain {
  display: flex;
  flex-basis: calc(20%);
  width: 110px;
  text-align: left;
  flex-direction: column;
  background-color: transparent;
}

h1 {
    font-family: 'Kavoon', sans-serif;
    font-size: 2.5em;
    color: white;
}

h2 {
  font-family: 'Kavoon', sans-serif;
  color: white;
}

.colup {
  display: flex;
  flex-direction: column;
}

p {
  color: white;
}

#klikk {
  background-color: transparent;
}

#ascend {
  width: 250px;
  height: 50px;
}

@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 350px 0px;
  }
}

body {  
  background: repeating-linear-gradient(
  90deg,
  #296d91,
  #296d91 5%,
  #255e7c 5%,
  #255e7c 10%
);
  background-size: 350px 350px;
  animation: move-it 10s linear infinite;
}

#overskrift {
  font-size: 4em;
}