body {
    text-align: center;
}

p {
    font-size: 5em;
    margin: 14px;
}

.main {
  background-color: white;
    margin-top: 100px;
    text-align: left;
    border-style: solid;
    display: inline-block
}

#svar {
  margin-left: 8px;
}

.calc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.calc div {
    height: 150px;
    width: 500px;
}

.linje1 button {
    width: 25%;
    height: 100%;
    font-size: 5em;
}

.linje2 button {
    width: 25%;
    height: 100%;
    font-size: 5em;
}

.linje3 button {
    width: 25%;
    height: 100%;
    font-size: 5em;
}

.linje4 button {
    width: 25%;
    height: 100%;
    font-size: 5em;
}



@keyframes move-it {
    0% {
      background-position: initial;
    }
    100% {
      background-position: 350px 0px;
    }
  }
  
  body {  
    background: repeating-linear-gradient(
    90deg,
    #296d91,
    #296d91 5%,
    #255e7c 5%,
    #255e7c 10%
  );
    background-size: 350px 350px;
    animation: move-it 10s linear infinite;
  }