body {
    text-align: center;
    background-color: green;
}

h1 {
    font-family: sans-serif;
    color: aquamarine;  
    margin-top: 5px;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hoved div {
    border: solid;
}

.left {
    width: 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.left img {
    rotate: 50deg;
}

.right {
    width: 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.right img {
    rotate: -50deg;
    margin-right: 20px;
}

.center {
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.bildeL {
    width: 180px;
    height: 280px;
}

.bildeR {
    width: 180px;
    height: 280px
}

#IMGL {
    width: 100px;
}

#IMGR {
    width: 100px;
}

#begin {
    font-size: 1.3em;
    background-color: aquamarine;
    border: solid;
    border-radius: 10px;
}